.title {
  font-size: 3rem;
  text-align: center;
  /* background: linear-gradient(90deg, #ff6ec4, #7873f5, #00ffe7); */
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-weight: 900;
  letter-spacing: 2px;
}

.product-img-wrapper {
  width: 100%;
  height: 250px;
  overflow: hidden;
    backdrop-filter: blur(100px);
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.product-img {
  width: auto;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}
